{% extends "shop/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>        
        {% block title %}
        Thank you
        {% endblock %}
    </title>
</head>
<body>
    
    {% block content %}
        <h1>Thank you</h1>
        <p>Your order has been successfully completed. Your order number is
        <strong>{{ order.id }}</strong>.</p>
    {% endblock %}

    
</body>
</html>